<a href="https://colab.research.google.com/github/forashish/Spark/blob/master/SparkOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.0-preview2/spark-3.0.0-preview2-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-preview2-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-preview2-bin-hadoop2.7"
import findspark
findspark.init()

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession \
  .builder \
	.appName("Python Spark create RDD example") \
	.config("spark.some.config.option", "some-value") \
	.getOrCreate()
df = spark.sparkContext\
	.parallelize([(1, 2, 3, 'a b c'),
				        (4, 5, 6, 'd e f'),
				        (7, 8, 9, 'g h i')])\
	.toDF(['col1', 'col2', 'col3','col4'])

df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+

In [0]:
from pyspark.sql import SparkSession
from google.colab import files

spark = SparkSession.builder \
                    .master('local[*]') \
                    .appName('Learning Spark') \
                    .getOrCreate()

#files.upload()

data = spark.read.csv('vgsales.csv',inferSchema=True, header=True)

In [11]:
data.count()

16598

In [12]:
data.columns

['Rank',
 'Name',
 'Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

In [13]:
len(data.columns)

11

In [14]:
data.show(5)

+----+--------------------+--------+----+------------+---------+--------+--------+--------+-----------+------------+
|Rank|                Name|Platform|Year|       Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+--------------------+--------+----+------------+---------+--------+--------+--------+-----------+------------+
|   1|          Wii Sports|     Wii|2006|      Sports| Nintendo|   41.49|   29.02|    3.77|       8.46|       82.74|
|   2|   Super Mario Bros.|     NES|1985|    Platform| Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|
|   3|      Mario Kart Wii|     Wii|2008|      Racing| Nintendo|   15.85|   12.88|    3.79|       3.31|       35.82|
|   4|   Wii Sports Resort|     Wii|2009|      Sports| Nintendo|   15.75|   11.01|    3.28|       2.96|        33.0|
|   5|Pokemon Red/Pokem...|      GB|1996|Role-Playing| Nintendo|   11.27|    8.89|   10.22|        1.0|       31.37|
+----+--------------------+--------+----+------------+---------+--------+--------+--------+-----------+------------+
only showing top 5 rows

In [15]:
data.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Platform: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)

In [16]:
data.select('Name', 'Platform', 'Year', 'Publisher') \
    .show(15, truncate = False)

+---------------------------+--------+----+---------+
|Name                       |Platform|Year|Publisher|
+---------------------------+--------+----+---------+
|Wii Sports                 |Wii     |2006|Nintendo |
|Super Mario Bros.          |NES     |1985|Nintendo |
|Mario Kart Wii             |Wii     |2008|Nintendo |
|Wii Sports Resort          |Wii     |2009|Nintendo |
|Pokemon Red/Pokemon Blue   |GB      |1996|Nintendo |
|Tetris                     |GB      |1989|Nintendo |
|New Super Mario Bros.      |DS      |2006|Nintendo |
|Wii Play                   |Wii     |2006|Nintendo |
|New Super Mario Bros. Wii  |Wii     |2009|Nintendo |
|Duck Hunt                  |NES     |1984|Nintendo |
|Nintendogs                 |DS      |2005|Nintendo |
|Mario Kart DS              |DS      |2005|Nintendo |
|Pokemon Gold/Pokemon Silver|GB      |1999|Nintendo |
|Wii Fit                    |Wii     |2007|Nintendo |
|Wii Fit Plus               |Wii     |2009|Nintendo |
+---------------------------+--------+----+---------+
only showing top 15 rows